html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: arial;
    font-size: 12px;
}

body {
    min-height: 100%;
    height: 100%;
    position: relative;
    background-color: #777;
    color: #000;
    overflow: hidden;
    outline: none !important;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#renderBox {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#loaderBox {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
}

.w3-border {
    border: 1px solid grey;
    width: 50%;
    position: absolute;
    top: 50%;
    right: 50%;
    margin-right: -25%;
}

.w3-green {
    color: #fff!important;
    background-color: #4CAF50!important;
}

#instrBox {
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
    overflow-y: auto;
    background-image: url('bgr.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: cover;
}

#text {
    width: 300px;
    margin: 0 auto;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 16px;
}

#start {
    height: 48px;
    width: 263px;
    border-radius: 2px;
    background-color: #FFFFFF;
    box-shadow: 0 5px 30px 0 #2B2C29;
    color: #000;
    margin: 0 auto;
    color: #333333;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 48px;
    margin-top: 38px;
    text-align: center;
}

li {
    margin-top: 10px;
}

#close {
    position: absolute;
    right: 2%;
    top: 2%;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    z-index: 8;
}

#close:before,
#close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
}

#close:before {
    transform: rotate(45deg);
}

#close:after {
    transform: rotate(-45deg);
}

#gif {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 250px;
    height: 250px;
    ;
    margin-right: -125px;
    margin-top: -125px;
}

.title {
    height: 69px;
    width: 247px;
    color: #E1E1E1;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 23px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
    padding-left: 18px;
}

.li {
    width: 248px;
    color: #E1E1E1;
    font-family: Roboto;
    font-size: 14px;
    line-height: 21px;
    margin-top: 15px;
    padding-left: 18px;
    position: relative;
}

.oval {
    width: 10px;
    height: 10px;
    background-color: #D8D8D8;
    opacity: 0.2;
    border-radius: 5px;
    margin: auto 0;
}

.ul {
    width: 274px;
    margin: 0 auto;
}

.ovalbox {
    float: left;
    width: 26px;
    height: 155px;
}

.oval_box {
    margin-top: 15px;
}

.android-title {
    height: 63px;
    width: 247px;
    color: #E1E1E1;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 21px;
    margin: 0 auto;
    margin-top: 20px;
}

.google-chrome {
    height: 42px;
    width: 247px;
    opacity: 0.5;
    color: #E1E1E1;
    font-family: Roboto;
    font-size: 14px;
    line-height: 21px;
    margin: 0 auto;
    margin-top: 15px;
}

.opera {
    height: 16px;
    width: 247px;
    opacity: 0.5;
    color: #E1E1E1;
    font-family: Roboto;
    font-size: 14px;
    line-height: 16px;
    margin: 0 auto;
    margin-top: 15px;
}